.login_bt {
    overflow: hidden;
    font-size: 16px;
    height: 30px;
    width: 986px;
    background: #ededed;
    padding-left: 10px;
    margin: 10px auto;
    line-height: 30px;
}
.gouwuche,.hll_gwc3 {
    overflow: hidden;
    width: 996px;
    margin: 0px auto;
}
/* .hll_gwc3 {
    overflow: hidden;
    width: 996px;
    margin: 0px auto;
} */
.sorad_list {
    width: 996px;
    overflow: hidden;
    margin: 0 auto 10px;
    cursor: pointer;
    ul{
    	float: left;
		overflow: hidden;
    }
    li{
    	width: 325px;
		float: left;
		margin: 10px 10px 0 0;
		overflow: hidden;
    }
    .zstu {
	    height: 270px;
	    overflow: hidden;
	}
	img {
		transition: all 0.7s ease 0s;
		&:hover{transform:scale(1.05,1.05);}
	}
	.xx {
	    height: 52px;
	    width: 325px;
	    display: inline-block;
	    background: #87d0e3;
	    a{
		    display: block;
		    height: 50px;
		    text-decoration: none;
		    color: #fff;
		    display: block;
		    height: 55px;
	    }
	    p {
		    cursor: pointer;
		    width: 100%;
		    height: 28px;
		    padding: 0px 0px 0px 15px;
		    line-height: 35px;
		}
		label {
		    cursor: pointer;
		    float: left;
		    width: 205px;
		    overflow: hidden;
		    height: 20px;
		    padding: 1px 0 0 15px;
		    font-size: 12px;
		    text-size-adjust: none;
		}
		b {
		    cursor: pointer;
		    padding-right: 20px;
		    vertical-align: middle;
		    color: #fff;
		    overflow: hidden;
		    display: inline-block;
		    width: 80px;
		    float: right;
		    height: 20px;
		    font-size: 13px;
		    text-align: right;
		}
	}
}