$font_family:"Î¢ÈíÑÅºÚ";
$color:#6bc4df;
.login_bt{
	width: 986px;
	margin: 10px auto 0;
	overflow: hidden;
	height: 30px;
	background: #ededed;
	font-size: 16px;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.login_form{
	width: 996px;
	margin: 0 auto 20px;
	padding: 45px 0 55px;
	overflow: hidden;
	.login_k{
		width: 310px;
		margin: 0 auto;
		background: #ededed;
		height: 40px;
		margin-bottom: 10px;
		line-height: 40px;
		dt{
			float: left;
			width: 50px;
			border-right: 5px #FFF solid;
			text-align: center;
			padding: 0 5px 0 10px;
			font-size: 14px;
		}
		dd{
			position: relative;
			div{
				display: none;
				padding-left: 20px;
				top: 0px;
				color: #F00;
				left: 300px;
				position: absolute;
				width: 105%;
				height: 32px;
				line-height: 32px;
				&.login_title{
					padding-left: 40px;
					color: red;
					span{
						padding: 0 20px 0 40px;
						background: url('/images/bj_3.png') no-repeat;
						display: inline-block;
					}
				}
			}
			a{
				float: left;
				padding-left: 8px;
				height: 36px;
				line-height: 40px;
				display: inline-block;
				&:hover{
					color:$color;
					text-decoration: underline;
				}
			}
		}
		input{
			float: left;
			display: inline-block;
			background: none;
			border: none;
			border: 1px solid red;
			height: 38px;
			line-height: 38px;
			width: 210px;
			padding-left: 10px;
			font-size: 14px;
			border: 1px solid #ededed;
			color: #626262;
			&.bg{width:140px;}
		}
	}
	.login_btnBox{
		width: 300px;
		margin: 0 auto;
		overflow: hidden;
		a{
			float: left;
			height: 40px;
			background: #ededed;
			margin-left: 10px;
			width: 100px;
			line-height: 40px;
			text-align: center;
			&.login_btn{
				width: 190px;
				margin-left: 0;
				background: #87d0e3;
				color: #fff;
				font-size: 16px;
				font-weight: bold;
			}
			&:nth-child(2){
				&:hover{color:$color;}
			}
		}
	}
}